body {
    /*background-color: #707070;*/
	/*background: url("back.png") no-repeat fixed center;*/
    color: #FFFFFF;
    font-family: 'Verdana', Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
	padding: 0px 0px 0px;
}
/*
a {
	color: #68D068;
}

h1 {
	text-align: center;
	font-size:60px;
	color: #FFCE00;
	letter-spacing: 3px;
	text-shadow: 2px 2px 5px #68D068;
	background-color: #333333;
	border-style: ridge;
	border-width: 8px 12px;
	border-color: #68D068;
	border-radius: 10px;
	margin: 5px 30% 0px;
}

h2, h3 {
	text-align: center;
	font-size:25px;
	color: #FFCE00;
	letter-spacing: 3px;
	text-shadow: 2px 2px 5px #68D068;
	background-color: #333333;
	border-style: ridge;
	border-width: 8px 12px;
	border-color: #68D068;
	border-radius: 10px;
	margin: 5px 30% 10px;
	padding: 10px;
}

h3 {
	margin: -75px 30% 10px;
}*/

.section {
	background-color: #333333;
	border-style: ridge;
	border-width: 8px 12px;
	border-color: #68D068;
	border-radius: 10px;
	margin: 0px 15% 20px;
	padding: 0px 10px;
}

#drop_zone {
	border: 5px solid blue;
	width:  200px;
	height: 100px;
}

.bb {
	border: 2px solid black;
}

canvas, img {
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}

#progressBar {
	width: 80%;
	background-color: grey;
}

#progressBarFill {
	width: 1%;
	height: 30px;
	background-color: green;
}

.speedIcon, .zoomIcon{
	display: inline-block;
	width: 24px;
	height: 24px;
	overflow: hidden;
}

.conArr, .dirArr {
	display: inline-block;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

#dirArrUL {background: url("arrowInactive.png") 0px 0px;}
#dirArrUL.active {background: url("arrowActive.png") 0px 0px;}
#dirArrUL.disabled {background: url("arrowDisabled.png") 0px 0px;}
#dirArrU {background: url("arrowInactive.png") -40px 0px;}
#dirArrU.active {background: url("arrowActive.png") -40px 0px;}
#dirArrU.disabled {background: url("arrowDisabled.png") -40px 0px;}
#dirArrUR {background: url("arrowInactive.png") -80px 0px;}
#dirArrUR.active {background: url("arrowActive.png") -80px 0px;}
#dirArrUR.disabled {background: url("arrowDisabled.png") -80px 0px;}
#dirArrL {background: url("arrowInactive.png") 0px -40px;}
#dirArrL.active {background: url("arrowActive.png") 0px -40px;}
#dirArrL.disabled {background: url("arrowDisabled.png") 0px -40px;}
#dirArrCent {background: url("arrowInactive.png") -40px -40px;}
#dirArrCent.active {background: url("arrowActive.png") -40px -40px;}
#dirArrCent.disabled {background: url("arrowDisabled.png") -40px -40px;}
#dirArrR {background: url("arrowInactive.png") -80px -40px;}
#dirArrR.active {background: url("arrowActive.png") -80px -40px;}
#dirArrR.disabled {background: url("arrowDisabled.png") -80px -40px;}
#dirArrDL {background: url("arrowInactive.png") 0px -80px;}
#dirArrDL.active {background: url("arrowActive.png") 0px -80px;}
#dirArrDL.disabled {background: url("arrowDisabled.png") 0px -80px;}
#dirArrD {background: url("arrowInactive.png") -40px -80px;}
#dirArrD.active {background: url("arrowActive.png") -40px -80px;}
#dirArrD.disabled {background: url("arrowDisabled.png") -40px -80px;}
#dirArrDR {background: url("arrowInactive.png") -80px -80px;}
#dirArrDR.active {background: url("arrowActive.png") -80px -80px;}
#dirArrDR.disabled {background: url("arrowDisabled.png") -80px -80px;}

#conArrPlay {background: url("arrowInactive.png") -80px -40px;}
#conArrPlay.active {background: url("arrowActive.png") -80px -40px;}
#conArrStop {background: url("arrowInactive.png") 0px -120px;}
#conArrStop.active {background: url("arrowActive.png") 0px -120px;}
#conArrStep {background: url("arrowInactive.png") -40px -120px;}
#conArrStep.active {background: url("arrowActive.png") -40px -120px;}

#speed0 {background: url("arrowInactive.png") 0px -148px;}
#speed1 {background: url("arrowInactive.png") -24px -148px;}
#speed1.active {background: url("arrowActive.png") -24px -148px;}
#speed2 {background: url("arrowInactive.png") -48px -148px;}
#speed2.active {background: url("arrowActive.png") -48px -148px;}
#speed3 {background: url("arrowInactive.png") -72px -148px;}
#speed3.active {background: url("arrowActive.png") -72px -148px;}
#speed4 {background: url("arrowInactive.png") -96px -148px;}
#speed4.active {background: url("arrowActive.png") -96px -148px;}

#zoom0 {background: url("arrowInactive.png") 0px -172px;}
#zoom1 {background: url("arrowInactive.png") -24px -172px;}
#zoom1.active {background: url("arrowActive.png") -24px -172px;}
#zoom2 {background: url("arrowInactive.png") -48px -172px;}
#zoom2.active {background: url("arrowActive.png") -48px -172px;}
#zoom3 {background: url("arrowInactive.png") -72px -148px;}
#zoom3.active {background: url("arrowActive.png") -72px -148px;}
#zoom4 {background: url("arrowInactive.png") -96px -148px;}
#zoom4.active {background: url("arrowActive.png") -96px -148px;}

.arrowsdivs {
	display: inline-block;
	width: 120px;
	overflow: hidden;
}

.helpBox {
    width: 250px; 
    border: #000 2px solid;
    background:#F8F8F8;
    position: relative;
    top: 5px;
    left:15px;
    display:none;
    padding: 0 20px 20px 20px;
    z-index: 1000000;
}

.helpQM  {
    cursor:pointer;
    width: 5px;
}

#helpFiles:hover +#helpBFiles {
    display:block;
}